body{
  background-color: black;
}

p {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(178, 178, 178);
}

h3 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(178, 178, 178);
}

h1 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white
}

input {

background-color: rgb(242, 242, 242);
}
